<div class="row">
    <div class="row active">
        {% assign blog = site.categories.blog | sort | last %}
        <div class="news-item row">
            <h3 class="heading no-border">{{blog.date | date: '%B %d, %Y'}}</h3>
            <h1>{{blog.title}}</h1>
            <p><i>Written By:</i> <span class="author">{{blog.author}}</span></p>
            <div class="row">
                {{blog.excerpt}}
            </div>
        </div>
    <a class="button button-primary" href="{{blog.url}}">More...</a>
    
    
    </div>

    <div class="spacer-small"></div>
    <div class="inactive row">
        <div class="row">
        {% for blog in site.categories.blog offset: 1 %}
        {% assign t  = {{forloop.index0 | modulo: 3 }} %}
        {% if  t == 0 %}
            </div>
            <div class="spacer-small"></div>
            <div class="row">
        {% endif %}
            <div class="four columns">
                <div class="blog-item row">
                    <!-- <h3 class="heading no-border">{{blog.date | date: '%B %d, %Y'}}</h3> -->
                    <h3 class="heading no-margin">{{blog.title}}</h3>
                    <p><i>Written By:</i> <span class="author">{{blog.author}}</span></p>
                    <a class="button" href="{{blog.url}}">Read...</a>
                </div>
            </div>
            
        {% endfor %} 
        </div>
    </div>
    <div class="spacer-small"></div>
    <!-- <a class="button" href="/contact">See All ...</a> -->
</div>