<section class="footer">
    <div class="container">
        <div class="row">
        
            <div class="four columns">
                <h2>de.ci.phe.red<div class="name-small">LABS</div></h2>
                <div class="row">
                    <p class="small"> &copy Copyright de.ci.phe.red LABS 2020</p>
                </div>
            </div>
            <div class="four columns">
                {% assign mypages = site.pages | sort: "order" %}
                    {% for page in mypages %}
                    <a href = "{{page.url | absolute_url }}" class="small"><li>{{page.title}}</li></a>
                    {% endfor %}
            
            </div>
        <div class="four columns">
            <h3 class="small">FORK! FOLLOW! FAULT! &infin;</h3>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a class="github-button" href="https://github.com/de-ci-phe-red-LABS" data-color-scheme="no-preference: light; light: light; dark: dark;"  aria-label="Follow de.ci.phe.red on GitHub">Follow @de-ci-phe-red-LABS</a>
        </div>
    </div>
</section>