/* .profile{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 200px;
	width: 200px;
	
}

.profile > img{
	border-radius: 50%;
	object-fit: cover;
	height: 80%;
	width: 80%;
	transition-duration: 0.3s;
	transition-property: filter;
}

.profile-name{
	min-width: 100%;
	
    margin-bottom: 0.3em;
	padding-left: 1.3em;
	padding-top: 0.5em;
	color: rgb(84, 84, 84);
	background: white;
	transition-duration: 0.4s;
	transition-property: transform;
	min-height: 420px;
}


.profile-name ul{
	padding-bottom: 0;
	margin-bottom: 1.5em;
	line-height: 1.2em;
}

.profile-name > h3{
	font-weight: 100;
	padding: 0;
	margin-bottom: 0.4rem;
}

.profile-name h3 span {
	font-weight: 600;
}
.profile:hover > img{
	filter: grayscale(80%)
}

.links{
	display: flex;

}
.links > *{
	margin-right: 1.3rem;
}

.links >  a i{
	color: #bb3636;
	font-size: 1.9rem; 
	transition-duration: 0.3s;
	transition-property: color;
}

.links > a i:hover{
	color: #888;
}

.team{
	display: flex;
	flex-direction: row;
}

.info{
	
	padding-left: 1em;
	border-left: 1px solid #eee;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 24vw;

}

.info > .container{

	position: sticky;
	top:9rem;

}

.areasofinterest{
	margin-bottom: 0.5em;
}
 */


 .card-image{
	width: 100%;
	height: 140px;
	width: 140px;
	object-fit: cover;
	box-shadow: 4px 4px 7px -4px black;
	border-radius: 1em;
	
}

.profile.row{
	margin-bottom: 1em;
}

.card{
	padding: 0.5em;
}

.card.heading{
	margin-bottom: 0.3em;
}

.card.post{
	color: #777;
}

.card.email{
	font-size: 1em;
}

.iconify{
	font-size: 2em;
	color: #666;
}

.small-margin{
	margin-bottom: 0.5em;
}

.card.dabble{
	vertical-align: top;
	font-size: 0.9em;
}
.dabble.row{
	background: #eee;
	padding: 0.5em;
	border-radius: 1em;
	margin: 0.5em;
	width: 80%;
}

.card.six.columns:hover {
	border-radius: 0.5em;
	/* box-shadow: 4px 4px 6px -7px black; */
	/* background: #eee; */
	border: 1px solid #ddd;
}

.card.six.columns:hover .arrow.iconify{
	/* color: #355c7d; */
	color: #ee4540;
}

.card.six.columns{
	transition-property: border, color;
	transition-duration: 0.2s;
	border: 1px solid transparent;
	/* background: #f5f5f5; */
	/* border-radius: 0.5em; */
	
}

.arrow.iconify{
	color: transparent;
	font-size: 1.2em;
	transition-property: color;
	transition-duration: 0.2s;
}