.no-margin{
    margin-bottom: 0.2em;
}
ol{
    list-style: none;
}

li{
    margin: 0.3em;
}

.pubs-item.row{
    padding: 0.4em;
    background: #f5f5f5;
    box-shadow: 4px 4px 6px -7px black;
}


.doi{
    background: #4ab19d;
    border: 1px solid #4ab19d;
    color: #fff;
    padding: 0.2em;
}
.bib:hover .bibtext{
    visibility: visible;
    opacity: 1;
}
.bib{
    display: inline-flex;
    vertical-align: middle;
    /* padding: 0.1em;
    background: #4ab19d;
    border: 1px solid #4ab19d;
    color: white; */
}
.bibtext{
    font-size: 0.8em;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    white-space: pre-wrap;
    background: #333;  
    padding: 0.2em;  
    color: #bbb;
    border-radius: 3px;
    opacity: 0;
    -moz-transition-property: opacity;
    transition-duration: 0.2s;
}
